* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
  /*background-color: #0a0a1a;*/
}

body {
  margin: 0;
  /*display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;*/
  background-color: #0a0a1a;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 3rem;
  font-weight: bold;
  color: #60a5fa;
}


h2 {
  font-size: 2rem;
  border-bottom: 4px solid #1e3a8a;
  color: #60a5fa;
  margin: 0 0 1rem 0;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #1e3a8a;
  padding: 0.5rem;
  color: white;
  border-radius: 25px;
}

input {
  font: inherit;
  border: 1px solid #1e3a8a;
  background-color: #0a0a1a;
  color: white;
}

input:focus {
  outline: none;
  border-color: #3b82f6;
  background-color: #1e3a8a;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container button {
  padding: 10px 20px;
  cursor: pointer;
}

button {
  font: inherit;
  cursor: pointer;
  border: 2px solid #1e40af;
  background-color: #0f172a;
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  display: block;
  margin: 0.5rem auto;
}

button:hover,
button:active {
  background-color: #1e293b;
  border-color: #3b82f6;
  box-shadow: 1px 1px 4px rgba(59, 130, 246, 0.5);
}

.headline {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 3rem;
  font-weight: bold;
  color: #60a5fa;
}

.background {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}

.buttonStandard {
  font: inherit;
  cursor: pointer;
  border: 2px solid #1e40af;
  background-color: #0f172a;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

.buttonName {
  background-color: #0f172a;
  border-color: #1e40af;
}